<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Transaction History</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('dashboard',page=1) }}">My Stocks App</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar-nav">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="{{ url_for('account') }}">My Account</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#stock-modal">Buy/Sell Stocks</a>
                            <div class="modal fade" id="stock-modal" tabindex="-1" role="dialog"
                                aria-labelledby="myModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Stocks</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Select a stock exchange:</p>
                                            <a href="{{ url_for('nasdaq',page=1) }}"><button type="button"
                                                    class="btn btn-primary">NASDAQ</button></a>
                                            <button type="button" class="btn btn-primary pull-right">NYSE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="{{ url_for('dashboard',page=1) }}">Portfolio</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-10">
                <h2>My Transactions</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Stock Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Pagination -->
                <ul class="pagination">
                    <li {% if current_page==1 %} class="disabled" {% endif %}><a
                            href="{{ url_for('transacs', page=1) }}">&laquo;</a></li>
                    {% for p in range(1, total_pages+1) %}
                    <li {% if current_page==p %} class="active" {% endif %}><a href="{{ url_for('transacs', page=p) }}">{{ p
                            }}</a></li>
                    {% endfor %}
                    <li {% if current_page==total_pages %} class="disabled" {% endif %}><a
                            href="{{ url_for('transacs', page=total_pages) }}">»</a></li>
                </ul>
    
            </div>
        </div>
    </div>
    <!--  -->


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>